<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>CodePlay Home Page</TITLE>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </HEAD>
    <BODY>
        <div class="hero">
            <div class="navbar">
            <h4><i class="fas fa-code"></i>  CodePlay</h4>
            <button type="button"><span>Sign Up</span></button>
            </div>
       
        <div class="content">
            <small>Welcome to our</small>
            <h1>Coding <br>Playground</br></h1>
            <!-- <h5><i>Show off your front-end skills</i></h5> -->
            <button type="button"><span>Take a Tour</span></button>
        </div>

    </div>
        <!-- <div class="side-bar">

        </div> -->
    </BODY>
</HTML>